$colors: (
"color-brand-main": #00583d,
"color-brand-accent": #96bb3c,
"color-brand-accent-red": #961f3f,

"color-grey-medium": #dee2e5,

"color-white": #fff,
"color-black": #000,

"color-text-default": #777
);

$default-font-size: 16px;
$line-height: 14px;

// FONT FAMILIES
$body-font-family: "Poppins", "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
$heading-font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;

// BORDER STYLES
$border-bottom: 1px solid #ddd;

// SITE WIDTH
$site-width: 1440px;

// BREAKPOINTS
$breakpoints: (
  "breakpoint_mobile": 476px,
  "breakpoint_tablet-s": 767px,
  "breakpoint_tablet-l": 980px,
  "breakpoint_laptop": 1100px,
  "breakpoint_desktop": 1405px
);
